@import url('./fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter-Regular","sans-serif";
}

body {
    overflow-y: auto;
}

body,
#root {
    @apply bg-main;
    height: 100vh;
}


table,
colgroup {
    width: 100%;
}

.rc-table-tbody tr:not(:last-child) {
    border-bottom: 1px solid #E5DBEE;
}

thead {
    @apply text-tableHeader;
    @apply text-xs;
    border-bottom: 1px solid #E5DBEE;
}



.rc-table::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.rc-table::-webkit-scrollbar-track {
    background-color: #fff;
}
.rc-table::-webkit-scrollbar-thumb {
    @apply bg-main;
}

input,
textarea {
    outline: none;
    border: none;
    resize: none;
}

.error {
    color: red;
    font-weight: 500;
    font-size: 12px;
}

.filters-menu {
    width: 300px;
    margin-top: 5px;
}

.szh-menu__item--type-radio::before {
    content: ' ';
    background-image: url('assets/filters/radio-btn-unchecked.svg');
    background-size: cover;
    width: 16px;
    height: 16px;
}

.szh-menu__item--type-radio.szh-menu__item--checked::before {
    content: ' ';
    background-image: url('assets/filters/radio-btn.svg');
    background-size: cover;
    width: 16px;
    height: 16px;
}

.szh-menu__item--type-checkbox::before {
    content: ' ';
    background-image: url('assets/filters/checkbox-unchecked.svg');
    background-size: cover;
    width: 16px;
    height: 16px;
}

.szh-menu__item--type-checkbox.szh-menu__item--checked::before {
    content: ' ';
    background-image: url('assets/filters/checkbox.svg');
    background-size: cover;
    width: 16px;
    height: 16px;
}
