@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'rodal/lib/rodal.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body,
#root {
    min-height: 100vh;
    @apply bg-main;
    overflow: hidden;
}